body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color1: #FFF8EA;
    --color2: #9E7676;
    --color3: #815B5B;
    --color4: #594545;
}

a {
    text-decoration: none !important;
    color: #936363;
}

a:hover {
    color: #542828;
}

.form-login {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    background: url("https://images.unsplash.com/photo-1533090368676-1fd25485db88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
}

.background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

form {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 65px;
    width: 450px;
    background-color: var(--color1);
    box-shadow: 0px 00px 30px rgba(255, 255, 255, 0.2);
    text-align: center;
}

img {
    margin: 30px 0;
}

.user {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 40px;
}

input {
    padding: 0 10px;
    margin-bottom: 30px;
    height: 55px;
    border: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.112);
    outline: none;
}

.input {
    /* width: 440px; */
    height: 40px;
    border: 2px solid var(--color4);
    padding-left: 10px;
    color: var(--color4);
    margin-bottom: 20px;
}

.input:focus {
    outline: 0;
}

.input::placeholder {
    margin-left: 20px;
}

.forget {
    margin-top: -20px;
    text-align: left;
    padding-left: 5px;
}

.submit {
    margin-top: 40px;
    background: var(--color3);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.submit:hover {
    background-color: var(--color4);
}

.sgin-up {
    margin-top: 20px;
}

.error {
    text-align: left;
    padding-left: 5px;
    color: red;
    margin-bottom: 5px;
    height: 25px !important;
}