:root {
    --color1: #FFF8EA;
    --color2: #9E7676;
    --color3: #815B5B;
    --color4: #594545;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header start*/


/*header end*/





/*content start*/

/*address book start*/
.address-book-background {

    background: var(--color1);
}

.address-book-vs-sort {
    height: 50px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    background-color: var(--color1);
    font-size: 16px;
}

.address-book span:last-child {
    font-weight: 600;

}

.address-book {
    margin: auto 10px;
}

.address-book span {
    margin-right: 5px;
    color: var(--color4);
}

.address-book span a {
    color: var(--color4);
}


/*address book end*/

/*infomation product*/
/* .infomation-product {} */

/*show image start*/
.infomation-product {
    position: relative;
    padding-bottom: 40px;
    margin-top: 20px;
}

.infomation-product .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.infomation-product .slider-img {
    width: 50%;
    height: 150px;
    display: flex;
}

.infomation-product .slider-img .image {
    margin: 20px;
    width: 95px !important;
}

.infomation-product .slider-show-img {
    padding-left: 10px;
}

.infomation-product .slider-show-img img {
    width: 480px;
    height: 480px;
    object-fit: cover;
}

.infomation-product .slider-img img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.pull-left,
.pull-right {
    background-color: rgba(250, 235, 215, 0);
    border: none;
}

/*show image end*/


/* infomation product start */
.infomation-product .right {
    width: 563px;
    height: 600px;
    position: absolute;
    top: 10px;
    right: -15px;
    padding-top: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.infomation-product .right .top {
    padding: 20px 0px 25px 0px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color4);
}

h5 {
    font-size: 22px;
    font-weight: 600;
    color: var(--color4);
}

.infomation-product .top .cost {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 15px;
    color: var(--color4);
}

.infomation-product .top .ratting {}

.infomation-product .right .top .sale {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
}

.infomation-product .right .top .price {
    font-size: 25px;
    font-weight: 500;
}

.infomation-product .bottom {
    display: flex;
    height: 300px;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-between;
}

.infomation-product .bottom .text {
    font-size: 25px;
    font-weight: 500;
}

.input {
    width: 250px;
    height: 40px;
    border: 2px solid var(--color4);
    padding-left: 10px;
    color: var(--color4);
}

.input:focus {
    outline: 0;
}

.input::placeholder {
    margin-left: 20px;

}

.infomation-product .bottom .btn-add-cart,
.infomation-product .bottom .btn-buy {
    width: auto;
    height: 72px;
    font-size: 25px;
    font-weight: 500;
    background-color: var(--color3);
    color: #FFF;
    border: none;
}

/* infomation product end */



/* decription start */
.detail-product {
    padding: 34px 0px 0px 45px;
}

.detail-product .card,
.detail-product .card-header {
    border: none;
    box-shadow: none;
}

.detail-product .card-header {
    height: 70px;
    padding-top: 8px;
}

.detail-product .card-header h5 {
    padding-top: 8px;
}

.infomation-product .collapsed {
    border: none;
    box-shadow: none !important;
}

.infomation-product .card {
    border-radius: 0rem;
}

.infomation-product .card-header {
    background-color: #FFF;
    border-radius: 0px;
}

.infomation-product .card button {
    border: none;
    background-color: #FFF;
    font-size: 25px;
    font-weight: 600;
    color: var(--color4);
}

/* decription end */


/* rate and comment start*/
.infomation-product .rate {
    padding-top: 32px;
}

.infomation-product .rate>.ratting {
    padding-bottom: 16px;
}

.infomation-product .rate .list-comment .item-comment {
    margin-top: 16px;
}

.infomation-product .rate .list-comment .img-user-cmt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.infomation-product .rate .list-comment .rate-user {
    font-size: 12px;
}


.infomation-product .rate .list-comment .user-cmt {
    display: flex;
}

.infomation-product .rate .list-comment .date-cmt {
    font-size: 12px;
    margin-left: 56px;
}

.infomation-product .rate .list-comment .comment p {
    margin-bottom: 0px;
}

.infomation-product .rate .list-comment .comment {
    margin-top: 4px;
    padding-bottom: 8px;
}

.infomation-product .rate h3.uppercase {
    font-size: 30px;
    font-weight: 600;
}

.infomation-product .rate .pagination .page-item a:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.infomation-product .rate .pagination .page-item a {
    border-radius: 0px;
    color: black;
    font-weight: 500;
}

.infomation-product .rate .pagination .active .page-link {
    background-color: var(--color1);
    border: 1px solid var(--color2);
}

.infomation-product .rate .pagination .page-item:first-child {
    margin-right: 10px;
}

.infomation-product .rate .pagination .page-item:last-child {
    margin-left: 10px;
}

.infomation-product .rate .write-ratting {
    display: flex;
    flex-direction: column;
}

.infomation-product .rate .ratting span {
    font-size: 20px;
    font-weight: 600;
    color: var(--color4);
}

textarea.write-cmt {
    width: 400px;
    height: 60px;
    resize: none;
    color: black;
    margin-top: 10px;
    padding-right: 10px;
}

#submit-cmt {
    width: 200px;
    height: 48px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--color3);
    color: #FFF;
    border: none;
}

/* rate and comment end*/


/*similar product start*/

.similar-product {
    height: 500px;
    text-align: center;
}

.title-similar-product {
    padding: 20px 0px;
}

.similar-product .slider-similar-product {
    display: flex;
}



.slick-list {
    /* padding: 0px 5px 0px 14px !important; */
}


.thumbnail {
    height: 400px;
}

.thumbnail .cont-item {
    height: 230px;
    width: 230px;
    position: absolute;
    overflow: hidden;

}

.thumbnail .cont-item img {
    height: 230px;
    margin: auto;
    transition: transform .5s ease;
}

.product:hover .thumbnail .cont-item img {
    transform: scale(1.3);
}


.thumbnail .caption {
    margin-top: 20px;
    position: relative;
    top: 250px;
    left: -6px;
    text-align: center;
    line-height: 2;
}

.thumbnail .caption h3,
.thumbnail .caption h3 a {
    font-size: 16px;
    color: black;
}

.thumbnail .caption h3 a:hover {
    font-size: 16px;
    color: black;
    text-decoration: none;
    color: var(--color4);
}

.thumbnail .caption span {
    margin-left: 20px;
}

.thumbnail .caption .ratting {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.373);
}

.yellow {
    color: #ffb700;
}

.thumbnail .caption .price span {
    font-size: 14px;
    color: #808080;
    text-decoration: line-through;
}

.slick-initialized .slick-slide {
    margin: 0px 10px;
}

/*similar product end*/


/*content end*/





/*footer start*/


/*footer end*/
.bd-bottom {
    position: relative;
    clip-path: inset(0 round 0px 0 0px 0);
}

.bd-bottom::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    z-index: -1;
    border-bottom: 8px dashed var(--color2);
    box-sizing: border-box;

}

.fa-star {
    color: rgba(0, 0, 0, 0.5);
}

.yellow {
    color: #ffb700;
}

.slider-similar-product .slick-list {
    padding: 0px 0px 0px 0px !important;
}

.slider-similar-product .product {
    margin: 0px 20px;
}

button.submit:hover {
    background-color: var(--color4) !important;
}