html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color1: #FFF8EA;
    --color2: #9E7676;
    --color3: #815B5B;
    --color4: #594545;
}

a {
    text-decoration: none !important;
    color: #936363;
}

a:hover {
    color: #542828;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(imge/lang-gom-bat-trang-814755.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.main {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 450px;
    height: 650px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--color1);
    box-shadow: 0px 00px 30px rgba(255, 255, 255, 0.2);
}

#title img {
    margin: 30px 0;
}

.form-input {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.form-input i {
    position: absolute;
    top: 253px;
    left: 400px;
    /* color: #fd5d5d; */
    color: #239b5f;
}

h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.input {
    /* width: 440px; */
    height: 40px;
    border: 2px solid var(--color4);
    padding-left: 10px;
    color: var(--color4);
    margin-bottom: 20px;
}

.input:focus {
    outline: 0;
}

.input::placeholder {
    margin-left: 20px;
}

.submit {
    height: 55px;
    margin: 15px 0;
    background: var(--color3);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
}

.submit:hover {
    background-color: var(--color4);
}
.error {
    text-align: left;
    padding-left: 5px;
    color: red;
    margin-bottom: 5px;
    height: 25px !important;
}