:root {
    --color1: #FFF8EA;
    --color2: #9E7676;
    --color3: #815B5B;
    --color4: #594545;
}

a:hover {
    text-decoration: none;
}

#container {
    position: relative;
}


/*  */


/*  */

.after-header {
    position: absolute;
    top: 80px;
    width: 100%;
}


/*  */

#content {
    width: 100%;
    margin: 0 auto;
    /* background-color: var(--color1); */
}

#title {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-h1 {
    height: 3px;
    width: 60px;
    background-color: black;
    border-radius: 30px;
    margin-top: 20px;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#myTab {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: none;
    padding: 40px 15px;
    margin-left: 40px;
}

i {
    padding: 5px 10px;
}

#myTab button,
#myTab li>a {
    /* background-color: var(--color1);  */
    border: none;
    color: black;
}

#myTab button:hover,
#myTab button.active,
#myTab li>a:hover {
    color: var(--color4);
}

.tab-content {
    width: 70%;
    margin-left: 40px;
}

.tab-pane {
    margin: 40px 30px;
}
.inf.container {
    display: flex;
    justify-content: space-between;
}

.inf li {
    margin-left: 20px;
}

ul.inf-left li {
    height: 30px;
}
button#edit-info{
    width: 60px;
}

.form {
    border: 10px solid #bbad963a;
    padding: 25px;
}

th,
td {
    text-align: center;

}

.table td,
.table th {
    border-top: 1px solid var(--color4);
}

.table thead th {
    border-bottom: none;
}

thead tr th {
    border-top: none !important;
}

thead {
    font-weight: 600;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 0.5px solid var(--color3);
    padding-bottom: 15px;
    padding-left: 10px;
}


/* choose adđress */

.choose-address {
    /* border-bottom: 2px solid var(--color4); */
    padding: 10px 10px 20px 10px;
}

p {
    margin: 10px 0px 0px 0px;
}

.choose-address .name {
    font-size: 17px;
    font-weight: 600;
    margin-right: 10px;
}

.choose-address .address {
    font-weight: 600;
    /* margin-left: 30px; */
}

.button {
    width: 180px;
    height: 40px;
    color: #FFF;
    border: none;
    background: var(--color3);
}

.submit:hover {
    background-color: var(--color4) !important;
}

.button-close {
    width: 100px;
}

.choose-address .select-address {
    border: 2px solid var(--color4);
    height: 40px;
    cursor: pointer;
    border-radius: 0px;
    width: 218px;
    margin-bottom: 20px;
}

.choose-address .select-address:focus {
    outline: 0;
}

.choose-address .list-address .contain-address {
    padding-bottom: 10px;
}

.modal-body {
    padding: 0px 26px 0px 26px;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-content {
    background-color: var(--color1);
    border-radius: 0px;
}

.bd-bottom {
    position: relative;
    clip-path: inset(0 round 0px 0 0px 0);
}

.bd-bottom::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    z-index: -1;
    border-bottom: 8px dashed var(--color2);
    box-sizing: border-box;
}
.contain-address.bd-bottom {
    display: flex;
    justify-content: space-between;
}

.submit {
    margin-top: 20px;
}

.right .btn-add-address {
    width: 50px;
}
.input {
    width: 440px;
    height: 40px;
    border: 2px solid var(--color4);
    padding-left: 10px;
    color: var(--color4);
    margin-bottom: 20px;
}

.input:focus {
    outline: 0;
}

.input::placeholder {
    margin-left: 20px;
}
.error {
    text-align: left;
    padding-left: 5px;
    color: red;
    margin-bottom: 5px;
    height: 25px !important;
}



/*  */

.order-detail .table th, .order-detail .table td{
    padding:10px 30px;
}
/*  */
td>a {
    font-size: 14px ;
    padding: 7px 10px;
    background-color: var(--color3);
}
td>a:hover {
    color: white;

}